.custom-link {
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
    transition: color 0.2s ease;
  }
  
  .custom-link:hover {
    color: #007bff; /* or any color you want */
    cursor: pointer;
  }
  
  .hover-card {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .hover-card:hover {
    background-color: #f8f9fa;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
  }

  .card:hover {
    background-color: #fdfdfd;
    transition: background-color 0.2s ease-in-out;
  }